Deve utilizar a arquitetura Domain Driven Design com Clean Code
Deve uitilizar apenas 1 terminal sempre, nunca criar um novo

Usando o RabbitMQ padronizamos os nomes de:

- Consumer: apenas recebe as mensagens
- Producer: apenas envias as mensagens

não use o NPM, use apenas o YARN

Nosso padrão de implementação de Interface é o seguinte:
adiciona o prefixo I na interface e na classe que implementa ela
não adiciona nada